<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>最最联谊平台注册页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=0;">
    <style>
        body{background:#EEE}h2{text-align:center}.container{margin:0 10px;box-sizing:border-box}label{display:block;margin:10px 0}.container>input{height:36px;border-radius:4px;width:100%;border:1px solid #CCC}.phoneCont{display:flex}.phoneCont input{flex:3;height:36px;border:1px solid #CCC}#get{outline:0;height:40px;line-height:40px;flex:2;vertical-align:-2px;border-radius:4px;border:1px solid #CCC;background:#1d8cf9;color:#fff;display:inline-block}.container>.tel{width:65%}.opt{border:1px solid #CCC;border-radius:4px;background:#fff}.opt label{display:inline-block}.opt div:nth-of-type(1){border-bottom:1px solid #EEE}.opt select{height:50px;width:100%;background:url(/weixin/img/DownArrow.png) right center no-repeat;font-size:16px;appearance:none;-webkit-appearance:none;-ms-appearance:none;-o-appearance:none;border:none;background-size:auto 13px}.school select:nth-of-type(1){border-bottom:1px solid #CCC}h6{text-align:center;padding:0 20px;font-size:14px}h6 span{color:#AAA;font-size:12px}#tj{border-radius:2px;background:#00a8c6;color:#fff;margin:20px 0;border:1px solid #CCC;width:100%;letter-spacing:3px;text-align:center;display:block;height:40px}.fileCont{height:60px;width:100%;border:1px solid #CCC;background:#fff;display:flex;box-sizing:border-box;border-radius:4px;position:relative;align-items:center;justify-content:center}.file{opacity:0;width:100%;height:100%;position:absolute;top:0;left:0;z-index:20}
        button[disabled] {
            background: #999!important;
        }
        input {
            text-indent: 8px;
        }
    </style>
</head>
<body>
    <h2>
        最最联谊平台注册页面
    </h2>
    <form action="/weixin/reg" method="post" id="sub" enctype="multipart/form-data">
        <div class="container">
            <label for="phone">
                手机号
            </label>
            <div class="phoneCont">
                <input type="tel" class="tel" id="phone" name="phoneNum">
                <button id="get">
                    获取验证码
                </button>
            </div>
            <label for="verify">
                验证码
            </label>
            <input type="tel" id="verify" name="regCode">
            <label for="code">
                密码
            </label>
            <input type="password" id="code" name="code">
            <label for="name">
                姓名
            </label>
            <input type="text" id="name" name="name">
            <label for="name">
                预留联系方式
            </label>
            <input type="text" id="contact" name="contact" placeholder="预留给匹配对象的联系方式, 不填即为您的手机号码">
            <label for="man">
                性别
            </label>
            <div class="opt gender">
                <div id="manline">
                    <input type="radio" value="0" name="gender" id="man">
                    <label for="man">
                        男
                    </label>
                </div>
                <div id="girlline">
                    <input type="radio" value="1" name="gender" id="girl">
                    <label for="" id="girl">
                        女
                    </label>
                </div>
            </div>
            <label for="school">
                学校
            </label>
            <div class="opt school">
                <select name="city" id="school" class="select1">
                    <option value="">
                        请选择
                    </option>
                    <option value="tj">
                        天津
                    </option>
                </select>
                <select name="school" id="" class="select2">
                    <option value="">
                        请选择
                    </option>
                </select>
            </div>
            <label for="degree">
                学历
            </label>
            <div class="opt degree">
                <select name="degree" id="degree" class="select3">
                    <option value="">
                        请选择
                    </option>
                    <option value="本科">
                        本科
                    </option>
                    <option value="硕士">
                        硕士
                    </option>
                    <option value="博士">
                        博士
                    </option>
                </select>
            </div>
            <label for="photo">
                实名认证
            </label>
            <!--<input type="file">-->
            <div class="fileCont">
                <input type="file" class="file" id="photo" name="photo">
                <h6 id="filename">
                    选择文件<span>(请手持身份证/一卡通正面照片，露出双肩和面部，要求清晰，5M以内)</span>
                </h6>
            </div>
            <button id="tj">
                提交
            </button>
        </div>
    </form>
</body>
<script src="/weixin/js/gesture.js"></script>
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/weixin/wxcode?wxcode=' + location.search, true);
    xhr.send(null);
    xhr.onreadystatechange = function() {
        if(xhr.readyState === 4) {
            if((xhr.status >= 200 && xhr.status <= 300) || xhr.status === 304) {
                if(xhr.responseText === '0') {
                    alert("微信认证失败");
                }
            }
        }
    }
    var index = {
        tj: ['天津大学', '南开大学', '天津医科大学', '天津中医药大学', '天津师范大学', '天津理工大学', '河北工业大学', '天津工业大学', '天津科技大学', '天津财经大学', '天津商业大学', '中国民航大学', '天津城市建设大学', '天津农学院', '天津职业技术师范大学', '天津外国语大学', '天津体育学院', '天津美术学院', '天津音乐学院', '天津广播电视大学', '天津大学仁爱学院', '天津南开大学滨海学院', '天津商业大学宝德学院', '天津师范大学津沽学院', '天津理工大学中环信息学院', '天津外语学院滨海外事学院', '天津城市建筑学院']
    }

    var btn = document.querySelector("#get");
    var time = 60;
    var form = document.querySelector("#sub");
    var option = "";
    var select1 = document.querySelector(".select1");
    var select2 = document.querySelector(".select2");
    var input = document.getElementById("photo")
    var filename = document.getElementById("filename");
    btn.addEventListener("touchstart", function(event) {
        event.preventDefault();
    }, false)
    btn.addEventListener("tap", function(event) {
        event.preventDefault();
        var phoneNum = document.querySelector("#phone").value;
        if(!(/^1[34578]\d{9}$/.test(phoneNum))){
            alert('您的手机号码有误,请重新输入')
        } else {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/weixin/getveri', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send("phoneNum=" + phoneNum);
            xhr.onreadystatechange = function() {
                if(xhr.readyState === 4) {
                    if((xhr.status >= 200 && xhr.status <= 300) || xhr.status === 304) {
                        if(xhr.responseText == "1") {
                            btn.setAttribute('disabled', 'disabled');
                            window.setTimeout(dis, 100);
                        } else if(xhr.responseText == "2") {
                            alert("该手机号已被注册, 请重新输入")
                        } else {
                            alert("系统错误")
                        }
                    }
                }
            }
        }
    }, false);
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        if(!document.querySelector("#phone").value || !document.querySelector("#verify").value || !document.querySelector("#code").value || !document.querySelector("#name").value || !document.querySelector(".gender input:checked") || !document.querySelector(".select1").value || !document.querySelector(".select2").value || !document.querySelector(".select3").value || !document.querySelector("#photo").value) {
            alert('您有未填写信息')
        } else {
            if(input.files[0].type.indexOf("image") !== -1) {
                var reg = new RegExp(/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,22}$/);
                if(reg.test(document.querySelector("#code").value)) {
                    alert(input.files[0].size)
                    if(input.files[0].size < 5 * 1000 * 1000) {
                        var phoneNum = document.querySelector("#phone").value;
                        var regCode = document.querySelector("#verify").value;
                        var xhr = new XMLHttpRequest();
                        xhr.open('GET', '/weixin/veri?phoneNum=' + phoneNum + '&regCode=' + regCode, true);
                        xhr.send(null);
                        xhr.onreadystatechange = function() {
                            if(xhr.readyState === 4) {
                                if((xhr.status >= 200 && xhr.status <= 300) || xhr.status === 304) {
                                    if(xhr.responseText == 0) {
                                        alert('手机号或验证码错误')
                                    } else {
                                        form.submit();
                                    }
                                }
                            }
                        }
                    } else {
                        alert("文件过大,请重新选择");
                    }
                } else {
                    alert("密码太过简单,请重新输入")
                }
            } else {
                alert("请上传照片")
            }
        }
    })
    select1.addEventListener("change", function(event) {
        var city = event.target.value;
        if(city) {
            var arr = index[city];
            option = "<option value=''>请选择</option>"
            arr.map(function(opt) {
                option += "<option value='" + opt + "'>" + opt + "</option>"
            })
        } else {
            option = "<option value=''>请选择</option>"
        }
        select2.innerHTML = option;
    }, false);
    input.addEventListener('change', function(e) {
        var files = e.target.files;
        if(files[0]) {
            if(files[0].type.indexOf("image") !== -1) {
                var name = files[0].name
                filename.innerHTML = name;
            } else {
                alert("请上传照片")
                e.preventDefault();
            }
        }
    }, false);
    function dis() {
        if(time > 0) {
            btn.textContent = "获取验证码(" + time + "s)";
            time--;
            window.setTimeout(dis, 1000);
        } else {
            btn.removeAttribute('disabled');
            btn.textContent = "获取验证码";
            time = 60;
        }
    }
</script>
</html>
