<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="/login" method="get">
    <div>
        <label for="name">
            姓名
        </label>
        <input type="text" name="name" id="name">
    </div>
    <button>
        登录
    </button>
</form>
</body>
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/login/login.js">

</script>
</html>